.orangeButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.375em 0.875em;
  font-size: 0.95dvw;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #fa8e7e 0%, #ff7e5f 100%);
  background-origin: border-box;
  box-shadow:
    0 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    box-shadow:
      inset 0 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
      0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
      0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 3.5px solid #36395a;
  }

  &:active {
    box-shadow:
      inset 0 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
      0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
      0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 3.5px solid #36395a;
  }

  @media (max-width: 1024px) {
    font-size: 1.5dvw;
  }

  @media (max-width: 25em) {
    font-size: 0.875em;
  }
}

.whiteButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.375em 0.875em;
  font-size: 0.95dvw;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  color: #3d3d3d;
  background: #fff;
  border: none;
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    box-shadow:
      0 0.5px 1px rgba(0, 0, 0, 0.1),
      0 0 0 3.5px rgba(58, 108, 217, 0.5);
    outline: 3.5px solid #36395a;
  }

  &:active {
    box-shadow:
      0 0.5px 1px rgba(0, 0, 0, 0.1),
      0 0 0 3.5px rgba(58, 108, 217, 0.5);
    outline: 3.5px solid #36395a;
  }

  @media (max-width: 1024px) {
    font-size: 1.5dvw;
  }

  @media (max-width: 25em) {
    font-size: 0.875em;
  }
}

.greyButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.375em 0.875em;
  font-size: 0.95dvw;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;
  background: #8e8c91;
  box-shadow:
    0 0.5px 1px rgba(0, 0, 0, 0.1),
    inset 0 0.5px 0.5px rgba(142, 140, 145, 0.5),
    0 0 0 0.5px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    box-shadow:
      inset 0 0.8px 0px -0.25px rgba(142, 140, 145, 0.2),
      0px 0.5px 1px rgba(0, 0, 0, 0.1),
      0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 3.5px solid #36395a;
  }

  &:active {
    box-shadow:
      inset 0 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
      0px 0.5px 1px rgba(0, 0, 0, 0.1),
      0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 3.5px solid #36395a;
  }

  @media (max-width: 1024px) {
    font-size: 1.5dvw;
  }

  @media (max-width: 25em) {
    font-size: 0.875em;
  }
}

.greenButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.375em 0.875em;
  font-size: 0.95dvw;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #00cc66 0%, #00af59 100%);
  background-origin: border-box;
  box-shadow:
    0 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    box-shadow:
      inset 0 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
      0px 0.5px 1.5px rgb(0, 175, 89),
      0px 0px 0px 3.5px rgb(0, 204, 102);
    outline: 3.5px solid #36395a;
  }

  &:active {
    box-shadow:
      inset 0 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
      0px 0.5px 1.5px rgb(0, 175, 89),
      0px 0px 0px 3.5px rgb(0, 204, 102);
    outline: 3.5px solid #36395a;
  }

  @media (max-width: 1024px) {
    font-size: 1.5dvw;
  }

  @media (max-width: 25em) {
    font-size: 0.875em;
  }
}

.redButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.375em 0.875em;
  font-size: 0.95dvw;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #da033b 0%, #b10303 100%);
  background-origin: border-box;
  box-shadow:
    0 0.5px 1.5px rgb(177, 3, 3),
    inset 0 0.8px 0 -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    box-shadow:
      inset 0 0.8px 0 -0.25px rgba(255, 255, 255, 0.2),
      0 0.5px 1.5px rgb(177, 3, 3),
      0 0 0 3.5px rgb(177, 3, 50);
    outline: 3.5px solid #36395a;
  }

  &:active {
    box-shadow:
      inset 0 0.8px 0 -0.25px rgba(255, 255, 255, 0.2),
      0 0.5px 1.5px rgb(177, 3, 3),
      0 0 0 3.5px rgb(177, 3, 50);
    outline: 3.5px solid #36395a;
  }

  @media (max-width: 1024px) {
    font-size: 1.5dvw;
  }

  @media (max-width: 25em) {
    font-size: 0.875em;
  }
}

button:disabled {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.375em 0.875em;
  font-size: 0.95dvw;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;
  background: #6e6d70;
  box-shadow:
    0 0.5px 1px rgba(0, 0, 0, 0.1),
    inset 0 0.5px 0.5px rgba(255, 255, 255, 0.5),
    0 0 0 0.5px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover {
    cursor: not-allowed;
  }
}
