@use "../../utils/styles/variables" as vars;

#authForm {
  & {
    text-align: center;
  }

  .forgotInfo {
    & {
      font-size: 0.8em;
      color: vars.$fontColorSecondary;
      line-height: 1.6;
      margin: 0;
    }
  }

  .inputContainer {
    & {
      text-align: left;
    }
  }
}
